ipykernel
pylint
streamlit
watchdog
requests
openai
fire
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-requests
kubernetes
mlflow

--extra-index-url https://pypi.org/simple/
streamlit-pdf
